
#createwrap {

    width: 100%;
    height: calc(100vh - 60px);

    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px;
}


#createcont {
    
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;

    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


#createcont h1 {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

#createcont input {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

.thebutton2 {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    cursor: pointer;
    background: var(--color3);
    user-select: none;
    border-radius: 5px;
    transition: transform 0.2s;
}

.thebutton2 p {
    margin: 0;
    padding: 0;
    color: var(--color1);
}

.thebutton2:active {

    transform: scale(0.9);

}