
#frontwrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}



#fronttable {

    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    background: var(--color1);
}

#frontmovieswrap {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    box-sizing: border-box;
}

.frontmovie {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontmovie img {

    width: 100%;
    max-width: 200px;
    transition: transform 0.3s;
    margin-bottom: 10px;
}

.frontmovie img:hover {

    transform: scale(1.07);

}

.frontmovie p {
    text-align: center;
}

.movielink {
    display: none;
}

/*------------------------------------*/

@media (max-width: 700px) {

    #frontmovieswrap {
        grid-template-columns: 1fr 1fr;
    }


}