
#forrender {
    display: none;
}

#headerwrap {

    height: 60px;
    width: 100%;   
    top: 0;
    left: 0;
    background: var(--color1);
    position: fixed;
    z-index: 1000;
    border-bottom: solid 1px var(--color3);
}

#headercont {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navlink {

    display: none;

}

#rateamovielogo {

    position: relative;
    left: 10px;

}

#rateamovielogo p {
    margin: 0;
    padding:0;
    cursor: pointer;
}

#loginnav, #loginnav2 {

    display: flex;
    position: absolute;
    right: 10px;

}

#loginnav p, #loginnav2 p {

    margin: 0;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}


/*---------------------------*/

@media (max-width: 600px) {

    #headerwrap p {

        font-size: 0.9rem;

    }


}